resources/albums/*
resources/pngs/*
resources/wavs/*
webdriver/*
!webdriver/put_webdriver_here.txt
!resources/pngs/put_pngs_here.txt
!resources/wavs/put_wavs_here.txt
!resources/albums/.gitkeep
**/__pycache__/
**/.DS_Store